/* este es el bueno, el otro hay que eliminarlo XDxc */

/* navbar */
.nav-item{
    justify-content: end;
    color: cornsilk;
}
#botonbusqueda{
    background: rgb(252, 252, 252, 0.5);
    color: blue;
    border-color: #fff;
}

.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-nav >.nav-item{
    padding: 8px;
}

/* pantalla */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
  /* sidebar */
#sidebar {
      min-width: 250px;
      max-width: 250px;
      background: #6a76f8;
      color: #fff;
      transition: all 0.3s;
  }
  
#sidebar .sidebar-header{
      padding: 20px;
      background: #6a76f8;
  }
#sidebar ul.components{
      padding: 20px 0px;
  }
  
  #sidebar ul p{
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  
  #sidebar ul li a{
      padding: 10px 10px 10px 20px;
      font-size: 1.1em;
      display: block;
      color: #fff;
      font-weight: bold;
  }
  #sidebar ul li a:hover {
      color: #6240bd;
      background: #fff;
      text-decoration: none;
  }

  /* contenido */
 #contenido{
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
 }
 /* valoracion */
 #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  /* footer */
 footer{
    background-color: grey;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}