{% extends 'layout.html' %}

{% block title %}index{% endblock %}
{%block main%}
<div class="container">
    <div class="row">
        {% for x in libro_existente%}
        <div class="col-6">
            <img src="" alt="">
            <h1>{{x.title}}</h1>
            <h2>{{x.author}}</h2>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 ">
            <h1>info del libro</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 ">
            <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Que opinas tu?"></textarea>
        </div>
    </div>

</div>    

    
{%endblock%}