{% extends 'layout.html' %}

{% block title %}Login{% endblock %}
{%block main%}
<section class="row justify-content-center bodylogin">
    <form action="/login" method="post">
        <div class="sign-up">
            <input type="text" class="sign-up-input" name="username" placeholder="What's your username?" required autofocus>
            <input type="password" class="sign-up-input"  name="password" placeholder="Password" required>
            <button class="sign-up-button" type="submit">Log In</button>
            
        </div>
    </form>
</section>
{%endblock%}