{% extends 'layout.html' %}

{% block title %}register{% endblock %}

{%block main%}
<section class="row justify-content-center">
    <article class="col-lg-6 col-12">
        <form action="/registro" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus="" class="form-control" name="username" placeholder="Username"
                    type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password" required
            </div>
            <button class="btn btn-primary" type="submit">Registro</button>
        </form>
    </article>
</section>
{% endblock %}